/*
'ThinkTheme' theme for Domoticz
*/

@import url("../css/legacy.css"); /* Don't remove this line! */
@import url("base.css"); /* Don't remove this line! */
/*@import url("navigation_main_sidebar.css");

/* Colors */
:root {
	--main-bg-color: #2B2E37;
	--main-item-bg-color: #404552;
	--main-border-color: #676D79;
	--main-bg-hover: #4C4E56;
	--main-text-color: #DCDCDC;
	--bigtxt-color: #000;
	--white-text: #fff;
	--white-bg-color: #fff;
	--main-button-color: #3A87AD; 
}

/* Fonts */
@font-face {
    font-family: main-font;
    src: url(font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: main-font-bold;
    src: url(font/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: header;
    src: url(font/Damion-Regular.ttf);
}

/* Custom css */
body {
   background: var(--main-bg-color) !important;
   font-family: main-font !important;
   color: var(--main-text-color); /*!important;*/
}
#bstatus{
	height: 100px;
}
#aboutcontent #canvas2 {
	display:none;
}
#copyright a {
   color: var(--white-text); 
}
#copyright p {
   font-family: main-font !important;
   font-size: 1em;
   color: var(--main-border-color);
   font-style: italic;
}
.warning-text {
   color: yellow;
   font-weight: normal;
}

h1, h2 {
   font-family: main-font-bold;
   color: var(--main-text-color);
}
/* Search */
#searchInput {
  position: relative;
  float: right;
  background-image: url('../images/searchicon.png');
  background-color: transparent;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 10%;
  font-size: 12px;
  color: #fff;
  padding: 12px 0 8px 30px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #fff;
  margin-right: 12%;
}
#searchInput::placeholder {
	color: #fff;
	opacity: 0.5;
}
/* Text in tables */
td {
   font-family: main-font !important;
}

/* Text before/after dropdown selectors of tables */
label, select {
   font-family: main-font !important;
}
.bootbox-body {
   font-family: main-font !important;
}

/* Text header above tables */
.theader h1 {
   font-family: main-font-bold !important;
}

/* Domoticz logo upperleft corner */
.brand h1 {
   visibility: hidden;
   position: relative;
 }
 .brand:after{
   visibility: visible;
   position: absolute;
   top: 0;
   content: "Domoticz";
   font-family: header;
   font-size: 1.7em;
   font-weight: 200;
   color: var(--white-text);
}
/* Version info */
.brand h2 {
   float: left;
   margin-left: 150px;
   margin-top: -23px;
   text-decoration: none;
   text-transform: none;
   font-family: main-font;
   font-size: 0.55em;
   font-style: italic;
   color: var(--white-text);
}
.bannercontent {
	margin-top: 20px;
}

#timesun, #scenecontent {
   font-family: main-font;
}
/* Navbar */ 
.navbar .nav li a {
   text-decoration: none;
   text-transform: none;
   border-color: transparent;
   font-family: main-font !important;
   padding: 10px;
   font-weight: normal !important;
   text-align: center;
   color: var(--white-text);
   background-color: var(--main-bg-color);
   background-image: none !important;
}
/* Color of menubar on top of page */
.navbar-inverse .navbar-inner {
   background-color: var(--main-item-bg-color); 
   background-image: none;
   background-repeat: no-repeat;
   filter: none;
}
/* Make the navbar come a bit more down, so we have more room for the border around the buttons*/
.navbar-inner {
  min-height: 44px;
}
.navbar .nav .dropdown-menu {
   border: 0px;
   font-family: main-font;
   padding: 4px;
   background-color: var(--main-bg-color);
   background-image: none;
}
.navbar .nav li a:hover {
   border:1px solid; 
   background-color: var(--main-bg-hover) !important;
   border-style: solid !important;
   border-width: 1px !important;
   border-color: var(--main-border-color) !important;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: var(--white-text);
  background-color: var(--main-bg-color);
}
/* Dropdown menu. Lines between menu items */
.dropdown-menu .divider {
   *width: 100%;
   height: 1px;
   margin: 4px 1px;
   *margin: -5px 0 5px;
   overflow: hidden;
   background-color: var(--main-border-color);
   border-bottom: 1px solid var(--main-border-color);
}  

/* Set color & font of 'On' and 'Off' in upper right corner of blocks. Also for title & lastupdate of block */
td#bigtext, td#name{
   color: var(--bigtxt-color) !important;
   font-family: main-font-bold !important;
}
td#lastupdate{
   color: var(--main-text-color) !important;
   font-family: main-font !important;
}
td#timeago{
   font-size: 80%;
   color: var(--main-text-color);
   font-family: main-font;
}
body table tr td:first-child + td + td + td + td + td + td:before,
body table tr td:first-child + td + td + td + td + td:before,
body table tr td:first-child + td + td + td + td:before{
	display: none;
}
p#copyright{
   color: var(--main-text-color) !important;
   font-family: main-font !important;
}


/* Make text inside 'Set mode' / 'Create virtual sensor' buttons not bold anymore */
.label, .badge {
    font-weight: normal;
}
/* Background around Bigtext */
body table#itemtable tr td:first-child,
body table#itemtablenotype tr td:first-child,
body table#itemtablenostatus tr td:first-child,
body table#itemtabledoubleicon tr td:first-child,
body table#itemtabletrippleicon tr td:first-child,
body table#itemtablesmall tr td:first-child,
body table#itemtablesmalldoubleicon tr td:first-child,
body table#itemtablesmalltrippleicon tr td:first-child {
	border-radius: 5px;
}
div.item.statusTimeout {
	
}
div.item.statusLowBattery {
	
}
div.item.statusProtected {
	
}

body table#itemtablenostatus tbody tr,
body table#itemtablenotype tbody tr,
body table#itemtable tbody tr,
body table#itemtablesmall tbody tr,
body table#itemtablesmalldoubleicon tbody tr,
body table#itemtablesmalltrippleicon tbody tr,
body table#itemtabledoubleicon tbody tr,
body table#itemtabletrippleicon tbody tr  {
   color: var(--main-text-color);
   background-color: var(--main-item-bg-color);
   font-family: main-font !important;
}
body table#itemtable tr td:first-child,
body table#itemtablenostatus tr td:first-child,
body table#itemtablenotype tr td:first-child,
body table#itemtabledoubleicon tr td:first-child,
body table#itemtabletrippleicon tr td:first-child{
	height: 1.5em;
}
body table#itemtable tr td:first-child + td,
body table#itemtablenotype tr td:first-child + td,
body table#itemtablenostatus tr td:first-child + td,
body table#itemtabledoubleicon tr td:first-child + td,
body table#itemtabletrippleicon tr td:first-child + td{ 
   margin: -32px 6px 0px 0px;
}
body table#itemtablesmall tr td:first-child + td,
body table#itemtablesmalldoubleicon tr td:first-child + td,
body table#itemtablesmalltrippleicon tr td:first-child + td{
	 margin: -29px 6px 0px 0px;
}


table#itemtablenostatus tr:hover,
table#itemtablenotype tr:hover,
table#itemtabledoubleicon tr:hover,
table#itemtable tr:hover, 
table#itemtablesmall tr:hover,
body table#itemtablenostatus tbody tr:hover,
body table#itemtablenotype tbody tr:hover,
body table#itemtable tbody tr:hover,
body table#itemtablesmall tbody tr:hover,
body table#itemtablesmalldoubleicon tbody tr:hover,
body table#itemtablesmalltrippleicon tbody tr:hover,
body table#itemtabledoubleicon tbody tr:hover,
body table#itemtabletrippleicon tbody tr:hover {
   border-color: var(--main-border-color);
   background-color: var(--main-bg-hover);
}

/* Table rows even */
tr.even {
   background-color: var(--main-bg-color);
   color: var(--main-text-color);
}

/* Table rows odd */
tr.odd {
   background-color: var(--main-item-bg-color);
   color: var(--main-text-color);
}

select {
	background-color: var(--main-item-bg-color);
	color: var(--white-text);
	border: 0;
}
.dataTables_wrapper .dataTable tr{
  border: 1px solid var(--main-border-color);
}
input[type="search"],
.dataTables_length select {
	background-color: var(--white-bg-color);
	color: #000;
	border: 0;
}
div:not(.ui-dialog) input.ui-widget-content,
.ui-widget-content select {
	background-color: var(--main-item-bg-color);
	background-image: none !important;
	border: none;
}
.ui-dialog, .ui-dialog-buttonpane, .ui-widget-content {
	color: var(--main-text-color); /*!important;*/
	background-color: #013;
	background-attachment: fixed;
}
.ui-dialog-titlebar,
.ui-state-default:not(.ui-slider-handle),
.ui-widget-header:not(.ui-slider-handle):not(.ui-slider-range),
.ui-timepicker-div .ui-slider-handle {
	background-color: var(--main-bg-color);
}

/* Give selected table row a petrol blue color */
table.display tr.odd.row_selected td, table.display tr.even.row_selected td {
    background-color: #324979 !important;
    color: var(--white-text);
}

#copyright p:after {
  content: "  | 'ThinkTheme' by DewGew";
}
/* Events editor buttons */
#main-view > div > section.events-editor__editor > event-viewer > div.events-editor-file__header > form > div.btn-group > button,
#main-view > div > section.events-editor__editor > event-viewer > div.events-editor-file__header > form > div.pull-right > div > button {
   font-family: main-font !important;
   border-radius: 1px;
}
/* Buttons */
.btnstyle, .btnstylerev, .btnsmall, .btnstyle3, .btnstyle3-dis, .btn-default, .btn-primary, .btn-mini, .btn-info, .btn-warning, .btn-danger .btn-success, .btn-small.disabled, .ui-button-text, .submitbuttonp1usb {
   font-family: main-font !important;
   border-radius: 2px;
}
.ui-dialog-buttonset button {
  background: var(--main-bg-hover) !important;
  color: white !important;
  border: none !important;
  border-radius: 2px !important;
}
/* Grey-flatstyle background for disabled buttons (Update/Delete at 'Hardware' page) */
.btnstyle3-dis,
.btnstyle3:disabled {
    background: var(--main-bg-hover);
    color: #8E8E8E;
	border-radius: 2px;
}

/* Flat style for blue button */
.btnstyle3, .btnstyle, .btnstylerev, .btn-info, .btn-primary {
	background: none;
    background-color: var(--main-button-color);
}

/* Flat style for purple 'All Devices' button at Hardware page */
.btnstyle3-sel {
	background: none;
    background-color: #6C519E;
	border-radius: 2px;
}

/* Flat style for 'Apply settings' button at Settings page */
.sub-tabs-apply {
    border: 1px solid transparent !important;
}
.btn-danger {
	background: none;
    background-color: #dc143c !important;
	border-radius: 2px;
	border-color: #dc143c;
}

.btnsmall {
   color: var(--main-text-color);
   border-radius: 5px;
   border-color: var(--main-border-color);
   background: var(--main-bg-color);
}

/* Text color when mouseover button*/
.btnsmall:hover{
   background: var(--main-bg-hover);
   color: var(--white-text);
   border-style: solid;
   border-width: thin;
}

/* Color for enabled 'Notification' & 'Timers' button */
#itemtable .btnsmall-sel,
#itemtablenotype .btnsmall-sel,
#itemtabledoubleicon .btnsmall-sel,
#itemtablenostatus .btnsmall-sel {
    background: #51a351;
	border-radius: 5px;
}
/** End Buttons **/

/* Dropdown boxes at 'Scene page' */
#comboroom, #combotype, #combodevice, #combowhen, #combopriority, #combodatatimeout, #sensortype, #P1Baudrate {
   font-family: main-font !important;
}

/* Text inside user editable text boxes */
#devicename, #onaction, #offaction, #devicedescription, #ondelaytime, #offdelaytime {
   font-family: main-font !important;
}

/*#protectiontable, 
#loghistory table, 
#notifications>table, 
#metercounters table, 
#othersettings table,
#floorplans table, 
#settingscontent #ActiveTabs,
#emailtable,*/
#hardwarecontent > div:not(.page-header-small):not(.bannav):not(#bannav),
#hardwarecontent > table:not(.page-header-small):not(.bannav):not(#bannav),
#hardwarecontent #ipnodeparamstable,
#nodeparamstable,
#utilitycontent #notificationparamstable,
#plancontent #activeparamstable,
#usercontent #userparamstable, #cameracontent #activeparamstable, #hardwarecontent #hardwareparamstable,
#lightcontent #paramstable:not(:nth-of-type(1)):not(:nth-of-type(2)),
#scenecontent #paramstable:not(:nth-of-type(1)):not(:nth-of-type(2)),
#weathercontent #notificationparamstable, #lightcontent #timerparamstable,
#tempnotifications #notificationparamstable, #lightcontent #notificationparamstable,
#scenecontent #timerparamstable,
#notificationtable:not(.dataTable),
#notifications > table,
#paramstable, #fibaromain #uservariablesedittable,
#customlog, #timerparamstable,
#linkparamstable, #influxremote,
#linkhttpparamstable, #httpremote,
#linkgooglepubsubparamstable, #googlepubsubremote,
#fibaromain #linkparamstable, #fibaromain #fibaroremote,
#userparamstable, #activeparamstable, #lightcontent paramstable,
#scenecontent #paramstable,
#notificationparamstable, #hardwareparamstable,
#eventparamstable {
	background-color: var(--main-bg-color);
	border-top: 10px solid var(--main-bg-color);
	border-bottom: 10px solid var(--main-bg-color);
}

/* Set color of text input fields */
#settings select, 
.text.ui-widget-content {
   border: 1px solid var(--main-border-color) !important;
   background: var(--main-bg-color) !important;
   color: var(--white-text);
}
/* Text at RFXCOM set mode page */
#settings {
   font-family: main-font !important;
}

/* Setup > Settings tabs */
.tab-content {
  overflow: auto;
  border: 1px solid var(--main-item-bg-color);
  padding-left: 10px;
}

/* Style of tabs at Setup > Settings page */

.row-fluid [class^="span"] {
	background-color: var(--main-item-bg-color); /*!important;*/
	color: var(--white-text) !important;
}
.sub-tabs > li > a {
    color: var(--main-text-color);
    cursor: pointer;
    background-color: var(--main-item-bg-color);
    border: 1px solid transparent;
	border-radius: 2px;
}

.sub-tabs > .active > a {
    color: var(--white-text);
    background-color: var(--main-bg-hover);
    border: 1px solid transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: var(--main-bg-hover);
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color: var(--main-border-color) transparent transparent;
    color: var(--white-text);
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: var(--white-text);
    cursor: default;
    background-color: var(--main-bg-hover);
    border: 1px solid transparent;
    border-bottom-color: transparent;
}

/* Sliders */
.ui-widget-content {
   background: var(--main-bg-color) !important;
}
.dimslider {
	position: relative;
    border-color: var(--main-item-bg-color) !important;
	box-shadow: none !important;
}

.dimslider .ui-slider-range {
    border-radius: inherit;
} 

/* Different color & font for log window */
div.log {
    background-color: #27292C;
    font-family: main-font !important;
}

/* Font color for normal log lines */
.lognorm {
    color: #EBE7E3;
}

/* Font settings for special log lines */
.logstatus {
    color: #21AA0B;
    font-weight: 100 !important;
}
/* Font settings for error log lines */
.logerror {
    color: #E36049;
    font-weight: 100 !important;
}
